@(name: String, currScore: String, highScore: String, sessionId: String)

@main("Tilgangsstyring") {
<script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/activegame.js")'></script>
<link rel="stylesheet" href='@routes.Assets.at("css/styles2.css")'>
<script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js'></script>

<article class="info-login" id="logedin">
    Logget inn som:
    <span id="nick">@name</span>
    <span>Current score:@currScore</span>
    <span>Highscore:@highScore</span>
    <a href="@routes.Application.index()" type="submit" >Logg ut</a>
    <span id="gameId">@sessionId</span>
</article>


<div class="content">



    <div id="cover"></div>
    <div id="player1">
        <div class="boxes" id="p1box1">1</div>
        <div class="boxes" id="p1box2">4</div>
        <div class="boxes" id="p1box3">10</div>
        <div class="boxes" id="p1box4">2</div>
        <div class="boxes" id="p1box5">3</div>
        <div class="boxes" id="p1box6">5</div>
        <div class="boxes" id="p1box7">7</div>
        <div class="boxes" id="p1box8">6</div>
        <div class="boxes" id="p1box9">8</div>
        <div class="boxes" id="p1box10">8</div>
    </div>
    <div id="player2">
        <div class="boxes" id="p2box1">1</div>
        <div class="boxes" id="p2box2">4</div>
        <div class="boxes" id="p2box3">10</div>
        <div class="boxes" id="p2box4">2</div>
        <div class="boxes" id="p2box5">3</div>
        <div class="boxes" id="p2box6">5</div>
        <div class="boxes" id="p2box7">7</div>
        <div class="boxes" id="p2box8">6</div>
        <div class="boxes" id="p2box9">8</div>
        <div class="boxes" id="p2box10">8</div>
    </div>

    <div id="choose-area">
        <h2>Click on the builiding block you want to use.</h2>
        <div class="selectedboxes" id="visible-choice">29</div>
        <div class="selectedboxes" id="secret-choice">?</div>
    </div>


</div>
}