html, body{
  height: 100%;
  margin:0;
}

#content{
    position: relative;
    width:90%;
    height:100%;
    margin:auto;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url("../images/cartoonwoods.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding-top:150px;
}

#player1{
  float:left;
  width:300px;
  border-top: 20px solid #673b0f;
  border-left: 20px solid #673b0f;
  padding-top: 20px;
}

#player2{
  float:right;
  width: 300px;
  padding-top: 20px;
}

#cover{
  opacity: 1;
  position:absolute;
  z-index: 99999;
  width: 30px;
  height:700px;
  background-image: url("../images/curtain.jpg");
  background-size: cover;
  background-color: grey;
  background-blend-mode:luminosity;
  margin-top: 20px;
  margin-left: 20px;
}

.boxes{
  border: 4px solid #c56d15;
  background-color: red;
  background-image: url("../images/redbrick.jpg");
  background-blend-mode:multiply;
  background-size:100px;
  width: 50px;
  height: 50px;
  display:block;
  padding:5px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  color: white;
  margin:auto;
}

#choose-area{
  background-color: #ffc966;
  border: 3px solid #673b0f;
  width:auto;
  max-width:300px;
  height:auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:auto;
  margin-top:20%;
  padding:30px;
  text-align: center;
}

#choose-area h2{
  font-family: Helvetica;
  color: #673b0f;
  padding-bottom: 20px;
}

#visible-choice{
  float:left;
  background-color: red;
  border: 4px solid #c56d15;
  margin-left: 10%;
}

#secret-choice{
 float:right;
 background-color: green;
 border: 4px solid #c56d15;
 margin-right: 10%;
}

.selectedboxes{
  background-image: url("../images/redbrick.jpg");
  background-blend-mode:multiply;
  background-size:100px;
  padding: 5px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: white;
}
